@model FinControl.Models.Transaction;
@{
    ViewData["Title"] = "Delete";
}

<br />
<h5>Deletar transação</h5>
<hr />

<span style="font-size:14px;">Deseja realmente excluir o registro?</span><br />
<span class="text-danger" style="font-size:14px;">OBS: Não será possível desfazer essa operação!</span><br />
<br />

<b style="font-size:14px;">Transação:</b><br />
<span style="font-size:14px;">@Model.Note</span>
<br />
<br />

<b style="font-size:14px;">Data:</b>
<br />
<span style="font-size:14px;">@Model.Date.ToString("dd/MM/yyyy")</span>
<br />
<br />

<b style="font-size:14px;">Valor:</b>
<br />
<span style="font-size:14px;">@Model.Amount.ToString("C2")</span>
<br />
<br />

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.TransactionId" />
    <div class="form-group">
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </div>
</form>